 <h5>Multi Time</h5>
 <div class="search-input-box">
   <input #inputValue [(ngModel)]="searchValue" [value]="searchShowValue" (click)="openDropDown()"
     (keydown)="doSomething($event)" maxlength="17" (keyup)="filterValue($event)" />
   <div (click)="closeDropDown()">
     <ul *ngIf="(yourNewArray && yourNewArray.length > 0) && showDropDown" class="custom-ul" id="containerDiv">
       <li *ngFor="let item of yourNewArray; let i = index" tabindex="{{i}}" [ngClass]="{'active': activeIndex === i  }"
         (click)="selectedValueFunction(item)">{{item}}</li>
     </ul>
   </div>
 </div>
